body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: lavender;
}

h1{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: black;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
h2{
    text-align: center;
    position: relative;
    top: 40px;
}
h3{
    color: gray;
    text-align: left;
    position: relative;
    bottom: 30px;
    left: 40px;
}
nav{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: relative;
    padding-left: 50px;
    padding-right: 100px;
    background: silver;
    padding: 10px;
}
.favorites{
    display: inline-flex;
    padding: 10px;
    margin-bottom: 10px;
}